body {
  background-color: #e3ffea;
}

div {
  padding: 5px;
}

.Chart {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ContentWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.CountryNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}

.CountryNav a {
  border-bottom: 1px solid transparent;
  display: block;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  transition: border-bottom 200ms ease;
  
}

.CountryNav a:hover {
  border-bottom: 1px solid black;
}

.Introduction {
  padding: 0px 200px;
}

.Introduction h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
}

.Introduction h3 {
  color: darkslategray;
  font-size: 18px;
  line-height: 27px;
}

.MapSize img{
  display: block;
  max-height: 175px;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
}

span {
  text-decoration-line: underline;
  text-decoration-color: darkslategray;
}

.SpeciesList {
  flex-basis: 50%;
}

.Listing a {
  color: darkslategray;
  text-decoration: none;
  padding: 5px;
  border: 1px solid darkgrey;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
}

.Listing a:hover {
  background-color: #79a67c;
  color: white;

}

.NarWrapper {
  flex-basis: 50%;
}

